<!DOCTYPE html>
<html>
<head>
  <title>Wordle</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="grid">
    
    <div class="row">
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
    </div>
   
    <div class="row">
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
    </div>

    <div class="row">
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
    </div>

    <div class="row">
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
    </div>

    <div class="row">
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
    </div>

    <div class="row">
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
      <div class="tile"></div>
    </div>
  </div>

  <div class="keyboard">
    <div class="row">Q W E R T Y U I O P</div>
    <div class="row">A S D F G H J K L</div>
    <div class="row">Enter Z X C V B N M Backspace</div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>